{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/login.css' %}">
{% endblock %}
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
{% block scripts %}
  <script src="{% static 'blog/js/login.js' %}"></script>
{% endblock %}


